<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lnpdit.installagriculture"
    android:versionCode="1"
    android:versionName="2.0.1" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <uses-permission android:name="com.sxit.dreamiya.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Optional for location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:name="com.lnpdit.installagriculture.base.application.DemoApplication"
        android:allowBackup="true"
        android:icon="@drawable/njlogo"
        android:label="@string/app_name" >
        <activity
            android:name="com.lnpdit.installagriculture.page.activity.welcome.WelcomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lnpdit.installagriculture.page.activity.welcome.GuideActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="引导页" />
        </activity>
        <activity
            android:name="com.lnpdit.installagriculture.page.activity.login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="登陆页面" />
        </activity>
        <activity
            android:name="com.lnpdit.installagriculture.page.activity.main.MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="首页 " />
        </activity>
              <activity
            android:name="com.lnpdit.installagriculture.page.activity.main.AddFarmerActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="新增农户 " />
        </activity>        
        <activity
            android:name="com.lnpdit.installagriculture.page.activity.main.FarmerListActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="农户列表" />
        </activity>     
         <activity
            android:name="com.lnpdit.installagriculture.page.activity.main.FarmerListChargeActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="进入收费页的农户列表" />
        </activity>        
        <activity
            android:name="com.lnpdit.installagriculture.page.activity.main.HostListActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="主机列表 " />
        </activity>        
        <activity
            android:name="com.lnpdit.installagriculture.page.activity.main.AddHostActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="首新增主机" />
        </activity>        
        <activity
            android:name="com.lnpdit.installagriculture.page.activity.main.Capture_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="抓拍 " />
        </activity>    
         <activity
            android:name="com.lnpdit.installagriculture.page.activity.main.Capture_Nostep_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="抓拍 -不按照流程走" />
        </activity>       
          <activity
            android:name="com.lnpdit.installagriculture.page.activity.main.HostTestRunActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="试车 " />
        </activity>     
        <activity
            android:name="com.lnpdit.installagriculture.page.activity.main.HostTestRun_Nostep_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="试车-不按照流程走 " />
        </activity> 
        <activity
            android:name="com.lnpdit.installagriculture.page.activity.main.HostTextrunUIActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="试车画面 " />
        </activity>
        <activity
            android:name="com.lnpdit.installagriculture.page.activity.main.PhotographActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="拍照上传 " />
        </activity> 
        <activity
            android:name="com.lnpdit.installagriculture.page.activity.main.Photograph_Nostep_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="拍照上传 -不按照流程走" />
        </activity> 
        <activity
            android:name="com.lnpdit.installagriculture.page.activity.main.image.TestPicActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="拍照上传 -选择相册照片" />
        </activity>   
         <activity
            android:name="com.lnpdit.installagriculture.page.activity.main.image.PublishedActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="拍照上传 " />
        </activity> 
          <activity
            android:name="com.lnpdit.installagriculture.page.activity.main.image.ImageGridActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="拍照上传 " />
        </activity>
          <activity
            android:name="com.lnpdit.installagriculture.page.activity.main.image.PhotoActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="拍照上传 -手机拍照" />
        </activity>       
        <activity
            android:name="com.lnpdit.installagriculture.page.activity.main.WorkOrderListActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="工单列表 " />
        </activity>
        <activity
            android:name="com.lnpdit.installagriculture.page.activity.main.ChargeRecordListActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="收费记录" />
        </activity>
        <activity
            android:name="com.lnpdit.installagriculture.page.activity.main.ChargeRecordList_Nostep_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="收费记录-不按照流程走" />
        </activity>
        <activity
            android:name="com.lnpdit.installagriculture.page.activity.main.AddChargeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="新增收费 " />
        </activity>
        <activity
            android:name="com.lnpdit.installagriculture.page.activity.main.HostModifyBaseinfoActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="修改主机基本信息 " />
        </activity>
         <activity
            android:name="com.lnpdit.installagriculture.page.activity.main.HostModifyBaseinfo_Nostep_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="修改主机基本信息-不按照流程走" />
        </activity>
        <activity
            android:name="com.lnpdit.installagriculture.page.activity.main.HostModifyParameterinfoActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="修改主机参数信息 " />
        </activity>
        <activity
            android:name="com.lnpdit.installagriculture.page.activity.main.HostModifyParameterinfo_Nostep_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="修改主机参数信息-不按照流程走 " />
        </activity>
          <activity
            android:name="com.lnpdit.installagriculture.page.activity.main.FarmMachineyInstallationActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="主机安装 " />
        </activity>
        <activity
            android:name="com.lnpdit.installagriculture.page.activity.main.FarmMachineyInstallation_Nostep_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="主机安装-不按照流程走 " />
        </activity>
        <activity
            android:name="com.lnpdit.installagriculture.page.activity.main.HostModifyStateActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="首修改主机状态" />
        </activity>
        <activity
            android:name="com.lnpdit.installagriculture.page.activity.main.HostReplaceActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="更换主机 " />
        </activity>
        <activity
            android:name="com.lnpdit.installagriculture.page.activity.main.AllStepActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="所有流程 " />
        </activity>
        <activity
            android:name="com.lnpdit.installagriculture.page.activity.main.SelectTownsActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="乡镇列表 " />
        </activity>
         <activity
            android:name="com.lnpdit.installagriculture.page.activity.main.SelectCooperativeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="合作社列表 " />
        </activity>
           <activity
            android:name="com.lnpdit.installagriculture.page.activity.main.PararmeterDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="参数测量方法 " />
        </activity>
         
    </application>

</manifest>